@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-imperial-red: #ED4A49;
    --color-magenta-haze: #9C3C7C;
    --color-berry: #7F1541;
    --color-burgundy: #32131D;
    --color-fairy-tale: #E8BFC9;
    --color-lavender: #F0E6EF;
}

* {
    box-sizing: border-box;
    font-family: Montserrat, Sans serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--color-lavender);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    line-height: 2rem;
    font-size: 2rem;
}

a,
.leaflet-container a {
    color: var(--color-burgundy);
}

a:visited,
.leaflet-container a:visited {
    color: var(--color-magenta-haze);
}

/* lists reset */
ol,
ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
    gap: 1rem;
}

li {
    font-size: 1.25rem;
    line-height: 1;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 1.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
}

p {
    margin: 12px 0;
}

.page-heading {
    position: absolute;
    right: 60px;
    top: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.page-title,
.page-description {
    background: var(--color-imperial-red);
    width: fit-content;
    padding: 0 4px;
    color: var(--color-burgundy);
}

.footer__page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__page-title {
    font-weight: bold;
}

.footer__attribution {
    font-size: .75rem;
}

.distance {
    font-size: 1rem;
    color: var(--color-burgundy);
    margin-bottom: 10px;
    font-weight: bold;
}

li {
    transition: transform 500ms;
}

li::before {
    transition: transform 500ms;
}

li.chain::before {
    content: '';
    margin-right: 1rem;
    display: block;
    width: 42px;
    height: 42px;
    background-image: url(./images/skull-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

li.indie::before {
    content: '';
    margin-right: 1rem;
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(./images/coffee-edit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

li.indie:hover {
    transform: rotate(-3deg) scale(.95);
}

li.chain:hover {
    transform: rotate(3deg) scale(.95);
}

li.indie:hover::before {
    transform: scale(1.1) translateY(-10px) rotate(15deg);
}

li.chain:hover::before {
    transform: rotate(-15deg);
}

svg.icon-heart {
    width: 1.1rem;
    height: 1rem;
    padding: 0 .25rem;
    transition: transform 500ms ease-in-out;
    transform-origin: bottom;
    fill: var(--color-fairy-tale);
}

.coffee-form__submit:hover svg.icon-heart:first-child {
    transform: rotate(-25deg);
    /* fill: var(--color-burgundy); */
}

.coffee-form__submit:hover svg.icon-heart:last-child {
    transform: rotate(25deg);
    /* fill: var(--color-burgundy); */
}

.coffee-form__submit:active svg.icon-heart:first-child {
    transform: rotate(-25deg) translate(-4px, -4px);
}

.coffee-form__submit:active svg.icon-heart:last-child {
    transform: rotate(25deg) translate(4px, -4px);
    ;
}

.map-container {
    flex: 1;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* style overrides for custom leaflet control */
.leaflet-left .leaflet-control.coffee-form,
.leaflet-top .leaflet-control.coffee-form {
    margin: 0;
}

.coffee-form {
    display: none;
    padding: 16px 16px 0;
    margin: 0;
    max-width: 400px;
    width: 100%;
}

#coffee-form__max-radius {
    width: 10ch;
}

#coffee-form__starting-location {
    width: 20ch;
}

label {
    display: block;
    color: var(--color-burgundy);
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    border: 1px solid var(--color-burgundy);
    border-radius: 6px;
    font-size: 1rem;
    margin: 0;
    height: 34px;
    background-color: var(--color-lavender);
}

@keyframes stripe-slide {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.button--stripe {
    background-color: var(--color-magenta-haze);
    color: var(--color-lavender);
    overflow: hidden;
    position: relative;
    border: 2px solid var(--color-burgundy);
    padding: 16px 36px 22px;
    border-radius: 6px;
    text-transform: uppercase;
}

.button--stripe:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg,
            var(--color-burgundy), var(--color-burgundy), 1px,
            transparent 2px,
            transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid var(--color-burgundy);
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}

.button--stripe:hover {
    background: var(--color-berry);
    /* color: var(--color-burgundy); */
    animation: stripe-slide 12s infinite linear forwards;
}

/* .button--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg,
    var(--color-lavender),
    var(--color-lavender) 1px,
            transparent 2px,
            transparent 5px);
    border-top: 1px solid var(--color-lavender);
} */


.icon-button {
    width: 34px;
    height: 34px;
    border-radius: 6px;
    border: none;
    border: solid 1px var(--color-burgundy);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);

}

.icon-button, .leaflet-bar a  {
    background-color: var(--color-lavender);
    color: var(--color-burgundy)
}

.icon-button:hover, .leaflet-bar a:hover {
    background-color: var(--color-magenta-haze);
    color: var(--color-lavender);
}

.icon-button img {
    transition: transform .3s;
    width: 20px;
    height: 20px;
}

.icon-button:active img {
    transform: translateY(4px);
}

/* .icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
} */

/* .coffee-form__submit {
    background: var(--color-burgundy);
    color: var(--color-lavender);
    box-shadow: 0px 4px 0px var(--color-magenta-haze);
    transition: box-shadow 0.1s;
    font-weight: bolder;
    padding: .75rem .75rem;
    text-align: center;
    text-decoration: none;
    font-size: .75rem;
    border: none;
    border-radius: 40px;
}

.coffee-form__submit:hover {
    background: var(--color-lavender);
    color: var(--color-burgundy);
    box-shadow: 0px 4px 0px var(--color-burgundy);
}

.coffee-form__submit:active {
    transform: translateY(4px);
    box-shadow: 0px 2px 0px var(--color-burgundy);
} */

.coffee-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    gap: 12px;
    margin-bottom: 4px;
}

.switch {
    position: relative;
    width: 62px;
    height: 34px;
    background-color: rgb(from var(--color-lavender) calc(r * 0.9) calc(g * 0.9) calc(b * 0.9));
    border-radius: 6px;
    border: solid 1px var(--color-burgundy);
    transition: background-color 0.3s;
}

.switch[aria-checked="true"] {
    background-color: rgb(from var(--color-magenta-haze) calc(r * 0.7) calc(g * 0.7) calc(b * 0.7));
}

.switch-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: var(--color-lavender);
    transition: transform 0.3s;
    border: solid 1px var(--color-burgundy);
}

.switch[aria-checked="true"] .switch-thumb {
    transform: translateX(28px);
    background-color: var(--color-magenta-haze);
}

.results-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 0 20px;
    width: 100%;
    max-height: 30vh;
    transition: max-height 0.2s ease-in-out;
    position: relative;
    overflow-y: auto;
    border-top: 2px solid var(--color-burgundy);
    background-color: var(--color-lavender);
}

.results-container.expanded {
    max-height: 100vh;
    min-height: 50vh;
    /* max-height: -moz-available;
    max-height: -webkit-fill-available; */
}

/* .results-container.expanded .results-summary__page-title {
    display: block;
} */
#results-list {
    flex-grow: 1;
}

.toggle-results-wrapper {
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.toggle-results {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color-berry);
    color: var(--color-lavender);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    width: fit-content;
    border: 2px solid var(--color-burgundy);
}

.toggle-results:hover {
    background-color: var(--color-magenta-haze);
    /* color: var(--color-fairy-tale); */
}

.results-summary {
    font-size: 1rem;
    color: var(--color-burgundy);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-summary__page-title {
    display: none;
    margin: 12px 0 0;
    font-size: 1.25rem;
}

.results-summary__results-count {
    margin: 8px 0 12px;
}

.hidden {
    display: none;
}

.footer {
    width: 100%;
    flex-shrink: 0;
    color: var(--color-fairy-tale);
    background-color: var(--color-burgundy);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.project-link,
.bmc-link {
    color: var(--color-fairy-tale);
    font-weight: bold;
}

@media screen and (max-width: 512px) {
    .results-summary__page-title {
        display: block;
    }

    .page-heading {
        display: none;
    }
}