:root {
    --color-imperial-red: #ED4A49;
    --color-magenta-haze: #9C3C7C;
    --color-berry: #7F1541;
    --color-burgundy: #32131D;
    --color-fairy-tale: #E8BFC9;
    --color-lavender: #F0E6EF;
}

* {
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: var(--color-lavender);
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a,
.leaflet-container a {
    color: var(--color-burgundy);
}

a:visited,
.leaflet-container a:visited {
    color: var(--color-magenta-haze);
}

/* lists reset */
ol,
ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
    gap: 1rem;
}

li {
    font-size: 1.25rem;
    line-height: 1;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 1.25rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
}

.page-heading {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    line-height: 2rem;
    font-size: 2rem;
    color: var(--color-burgundy);
}

.footer__page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__page-title {
    font-weight: bold;
}

.distance {
    font-size: 1rem;
    color: var(--color-burgundy);
    margin-bottom: 10px;
    font-weight: bold;
}

li {
    transition: transform 500ms;
}

li::before {
    transition: transform 500ms;
}

li.chain::before {
    content: '';
    margin-right: 1rem;
    display: block;
    width: 42px;
    height: 42px;
    background-image: url(/images/skull.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

li.indie::before {
    content: '';
    margin-right: 1rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url(/images/coffee.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}

li.indie:hover {
    transform: rotate(-3deg) scale(.95);
}

li.chain:hover {
    transform: rotate(3deg) scale(.95);
}

li.indie:hover::before {
    transform: scale(1.1) translateY(-10px) rotate(15deg);
}

li.chain:hover::before {
    transform: rotate(-15deg);
}

.map-container {
    flex: 1;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* style overrides for custom leaflet control */
.leaflet-left .leaflet-control.coffee-form,
.leaflet-top .leaflet-control.coffee-form {
    margin: 0;
}

.coffee-form {
    display: none;
    padding: 16px 16px 0;
    margin: 0;
    max-width: 400px;
    width: 100%;
}

#coffee-form__max-radius {
    width: 10ch;
}

#coffee-form__starting-location {
    width: 20ch;
}

label {
    display: block;
    color: var(--color-burgundy);
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    border: 2px solid var(--color-burgundy);
    border-radius: 6px;
    font-size: 1rem;
    margin: 0;
    padding-inline: 6px;
    padding-block: 6px;
    background-color: var(--color-lavender);
}

#coffee-form__starting-location-err {
    color: var(--color-imperial-red);
    font-weight: bold;
    font-size: .75rem;
    background: rgb(256, 256, 256, .85);
    border-radius: 6px;
    padding: 12px;
    border: solid 2px var(--color-imperial-red);
}

.icon-button {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    border: none;
    border: solid 2px var(--color-burgundy);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);

}

.icon-button,
.leaflet-bar a {
    background-color: var(--color-lavender);
    color: var(--color-burgundy)
}

.icon-button:hover,
.leaflet-bar a:hover {
    background-color: var(--color-magenta-haze);
    color: var(--color-lavender);
}

.icon-button img {
    transition: transform .3s;
    width: 20px;
    height: 20px;
}

.icon-button:active img {
    transform: translateY(4px);
}

.coffee-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row {
    display: flex;
    gap: 12px;
    margin-bottom: 4px;
    justify-content: flex-start;
    align-items: stretch;
}

.switch {
    position: relative;
    width: 62px;
    height: 34px;
    background-color: rgb(from var(--color-lavender) calc(r * 0.9) calc(g * 0.9) calc(b * 0.9));
    border-radius: 6px;
    border: solid 1px rgb(from var(--color-lavender) calc(r * 0.7) calc(g * 0.7) calc(b * 0.7));
    transition: background-color 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);

}

.switch[aria-checked="true"] {
    border: solid 1px var(--color-burgundy);
    background-color: rgb(from var(--color-magenta-haze) calc(r * 0.7) calc(g * 0.7) calc(b * 0.7));
}

.switch-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: var(--color-lavender);
    transition: transform 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    border: solid 1px rgb(from var(--color-lavender) calc(r * 0.9) calc(g * 0.9) calc(b * 0.9));
    /* border: solid 2px var(--color-burgundy); */
}

.switch[aria-checked="true"] .switch-thumb {
    transform: translateX(28px);
    background-color: var(--color-magenta-haze);
    border: solid 1px var(--color-burgundy);
}

.results-container {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 12px 20px;
    width: 100%;
    max-height: 30vh;
    max-height: 30svh;
    transition: max-height 0.2s ease-in-out;
    position: relative;
    overflow-y: auto;
    border-top: 2px solid var(--color-burgundy);
    background-color: var(--color-lavender);
}

.results-container.expanded {
    max-height: 100vh;
    max-height: 100svh;
    min-height: 50vh;
    min-height: 50svh;
    /* max-height: -moz-available;
    max-height: -webkit-fill-available; */
}

#results-list {
    flex-grow: 1;
    margin-bottom: 10px;
}

.toggle-results-wrapper {
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 0 0 10px; */
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.toggle-results {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color-lavender);
    color: var(--color-burgundy);
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    width: fit-content;
    border: 2px solid var(--color-burgundy);
    font-weight: 500;
    font-size: .875rem;
}

.toggle-results:hover {
    background-color: var(--color-magenta-haze);
    color: var(--color-lavender);
}

.results-summary {
    font-size: 1rem;
    color: var(--color-burgundy);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-summary__results-count {
    margin: 0 0 12px;
}

.footer {
    width: 100%;
    flex-shrink: 0;
    color: var(--color-fairy-tale);
    background-color: var(--color-burgundy);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer__logo {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    background-color: var(--color-fairy-tale);
    border-radius: 50%;
    border: solid var(--color-fairy-tale) 2px;
}

.highlight {
    color: var(--color-imperial-red);
    font-weight: bold;
}

.leaflet-control-attribution,
.leaflet-control-attribution a {
    font-family: "Zilla Slab", Georgia, 'Times New Roman', Times, serif;
}

.footer__page-links {
    margin: 8px 0 0;
    /* extra whitespace was being added between the children without this... */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.footer__page-links a {
    color: var(--color-fairy-tale);
    font-family: "Zilla Slab", Georgia, 'Times New Roman', Times, serif;
    font-size: .75rem;
}

.footer__page-links a:not(:last-child) {
    border-right: solid 2px;
    padding-right: 8px;
    margin-right: 8px;
}

.loading-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(from var(--color-lavender) r g b / 0.5);
    background-color: var(--color-berry);
    z-index: 10000;
}

.loading-img {
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 512px) {
    li {
        font-size: 1rem;
    }
    .results-summary__results-count {
        font-size: .75rem;
    }
    .distance {
        font-size: .75rem;
    }
    li.indie::before {
        width: 2rem;
        height: 2rem;
    }
    .page-heading {
        bottom: 16px;
        left: 10px;
        top: unset;
        right: unset;
        line-height: 1.5rem;
        font-size: 1.5rem;
    }
}

/* from animate.css */
@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.location-icon {
    animation-delay: 1s;
}